* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
table {
  width: 100%;
}
thead td {
  font-weight: bolder;
}

@page {
  @top-left-corner {
    content: "hola";
  }

  @top-right-corner {
    content: "hola";
  }
  size: letter portrait;
  @footnote {
    float: bottom;
  }
}

footer {
}
